/node_modules
/public/hot
/public/storage
/storage/*.key
storage/
docker
vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
tests
*.zip
*.mp3
*.tmp
*.exe
*.mp4
doc
*-bkp.pdf
*-bkp.php
*.log
step-form
composer.lock
/public/backend/assets/css/custom.css
sitemap.xml
robots.txt
